body{
    background-color: black;
}
#moonshine{
    color: goldenrod;
}
.credict{
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
h5{
    font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: goldenrod;
  padding-left: 28px;
}
.h1{
    font-size: x-large;
    line-height: 0.6;
}
h6{
    color: white;
}
.tete{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 45%;
}
.tete a{
    text-decoration: none;
    color: crimson;
    margin: 5px;
}
img{
    width: 100%;
}
.content{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
    justify-content: center;
    text-align: center;
}
.box{
    width: 50vh;
    height: 35vh;
    background-color: goldenrod;
    border: 1px solid;
    border-top-left-radius:70%;
    border-bottom-right-radius:60%;
}
.content a{
    text-decoration: none;
    border: 1px solid crimson;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: aliceblue;background-color: crimson;
}
.content a:hover{
    background-color: aliceblue;
    color: crimson;
}
@media screen and (max-width:321px){
    .tete{
        justify-content: space-around;
    }    
}
@media screen and (min-width:481px) and  (max-width:768px) {
    
    .tete{
        display: flex;
        /*gap:500px;*/
        gap:63%;
    }
    .content{
        text-align: left;
        justify-content: space-around;
    }
}
@media screen and (min-width:769px){
    body{
    }
    .tete{
        margin-left: 1%;
        margin-right: 1%;
        display: flex;
        gap:65%;
        font-size: 170%;
    }
    .content{
        text-align: left;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        font-size: xx-large;
        flex-wrap: nowrap;
        margin-left: 1%;
        margin-right: 1%;
    }
    .h1{
        font-size: 100%;
    }
    #droite{
        width: 50%;
        height: 100%;
        border-bottom-right-radius: 50% ;
    }  
}










